<launch>
    <!-- Starts communication with the Dynamixel motors and loads the motor configuration -->
    <node name="dynamixel_interface_node" pkg="dynamixel_interface" type="dynamixel_interface_controller_node" output="screen">
        <rosparam command="load" file="$(find arm_us)/config/motor_config.yaml" />
    </node>

    <!-- Starts the motor translator to set the joint limits -->
    <node name="motor_translator" pkg="arm_us" type="motor_translator" output="screen">
        <rosparam file="$(find arm_us)/config/joint_limit.yaml"/>
    </node>

    <!-- Starts RQT -->
    <node name = "arm_us_dashboard" pkg = "rqt_gui" type = "rqt_gui" respawn = "false"/>

    <!-- Real time position of arm in Rviz -->
	<node name="arm_us_graphic" pkg="arm_us_graph" type="graph"/>

</launch>
